<% layout('layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img class="card-img-top" src="https://res.cloudinary.com/etrs27/image/upload/v1648122353/Yelp-Camp/page-images/hiking-trail_coybhc.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title"><u>Login</u></h5>
                    <form action="/login" class="validate-form" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>